.rating {

    display: flex;
    gap: 15px;

    @media screen and (max-width: 768px) {
        gap: 7px;
    }

    img {

        @media screen and (max-width: 768px) {
            height: 13px;
        }
    }
}